font-family: 'Crafty Girls', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Bad Script', cursive;
font-family: 'Reenie Beanie', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Calligraffitti', cursive;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Architects Daughter', cursive; 
font-family: 'Shadows Into Light Two', cursive;